body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
}

h1, h2 {
  color: #333;
}

div {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

input[type="radio"] {
  margin: 10px 5px;
}
